.fakeScroll__scope{ overflow:visible !important; }

.fakeScroll__wrap{
    overflow : hidden;
    height   : 100%;
    position : relative;
    z-index  : 1;
}

.fakeScroll__content{
    height          : 100%;
    width           : 100%;
    padding         : 0 32px 0 0;
    position        : relative;
    right           : -18px;
    overflow        : auto;
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
}

.fakeScroll__track{
    position : absolute;
    right    : -15px;
    top      : 0;
    bottom   : 0;
    width    : 9px;
    cursor   : default;
}

.fakeScroll__bar{
    position      : relative;
    background    : rgba(255,255,255, .4);
    width         : 100%;
    border-radius : 4px;
    right         : 0;
    top           : 0;
    z-index       : 0;
    transition    : background 0.1s;
    cursor        : -moz-grab;
    cursor        : -webkit-grab;
}

.fakeScroll__bar:hover{
    background    : rgba(255,255,255, .55);
}

.fakeScroll__bar.fakeScroll--grabbed{
    cursor     : -moz-grabbing;
    cursor     : -webkit-grabbing;
    background : white;
}

body.fakeScroll--grabbed{
    cursor              : -moz-grabbing;
    cursor              : -webkit-grabbing;
    -moz-user-select    : none;
    -webkit-user-select : none;
    user-select         : none;
}